<h2>It has been</h2>
<h1 id='created-at'><%= distance_of_time_in_words_to_now(@clock.created_at) %></h1>
<h2>since @edds last</br>
broke into song</h2>

<%= form_tag(reset_path, method: 'put') do |f| %>
  <%= button_tag 'Reset', class: 'button', id: 'reset' %>
<% end %>

<% if @chart_hits.any? %>
  <h2>@edds' latest top 5</h2>
  <ol>
    <% @chart_hits.each do |clock| %>
      <li>
        <%= distance_of_time_in_words(clock.created_at, clock.end_time) %>
      </li>
    <% end %>
  <ul>
<% end %>
