@import "typography";
@import "design-patterns/buttons";

body {
  background: #000;
  color: #fff;
}

#wrapper {
  text-align: center;

  h1 {
    @include core-80;
    font-size: 100px;
    margin: 20px 0;
    font-weight: bold;
  }

  h2 {
    @include core-48;
  }

  ol {
    max-width: 250px;
    margin: 0 auto;
  }

  li {
    @include core-27;
  }

  .button {
    @include button;
    @include bold-24;
    margin: 20px 0;
  }
}
