<!DOCTYPE html>
<html>
<head>
  <title>EddsCounter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <main id="content">
      <%= yield %>
    </main>
  </div>

</body>
</html>
